<nz-layout class="h-full min-h-screen">
  <nz-header class="p-0 h-[50px] leading-[50px] bg-gray">
    <app-header></app-header>
  </nz-header>
  <nz-content class="flex-auto basis-full my-[50px]">
    <div class="max-w-[1200px] mx-auto px-4 sm:px-6 lg:px-8 pt-10">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    <footer class="h-full max-w-[1200px] mx-auto">
      Футерный футер
    </footer></nz-footer
  >
</nz-layout>
