<h1 nz-typography>Регистрация</h1>

<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-[500px]">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="firstName" nzRequired>Имя</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input nz-input id="firstName" formControlName="firstName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="lastName" nzRequired
      >Фамилия</nz-form-label
    >
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input nz-input id="lastName" formControlName="lastName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="middleName" nzRequired
      >Отчество</nz-form-label
    >
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input nz-input id="middleName" formControlName="middleName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input nz-input id="email" formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="password" nzRequired
      >Пароль</nz-form-label
    >
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input
        nz-input
        id="password"
        formControlName="password"
        type="password"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="phone" nzRequired>Телефон</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input nz-input id="phone" formControlName="phone" />
    </nz-form-control>
  </nz-form-item>

  <div class="flex justify-between">
    <button nz-button nzType="primary" type="submit">Зарегистрироваться</button>

    <button nz-button nzType="default" type="button" routerLink="/login">
      Вход
    </button>
  </div>
</form>

<ng-template #errorTip let-control>
  <div style="color: red" *ngIf="control?.invalid && control?.dirty">
    Поле заполнено неверно
  </div>
</ng-template>
